{% extends "base.html" %} {% block title %} 台北一日遊{% endblock %} {% block
css %}<link rel="stylesheet" href="/css/attraction.css" />{% endblock %}{% block
main %}

<div class="main-section">
  <div class="booking-section">
    <div class="booking-section-carousel-images">
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
      <div class="dots-container"></div>
    </div>
    <div class="booking-section-info">
      <h3 class="attraction-name"></h3>
      <p>
        <span class="attraction-category"></span> at
        <span class="attraction-mrt"></span>
      </p>
      <form class="booking-section-info-order">
        <h4>訂購導覽行程</h4>
        <p>以此景點為中心的一日行程，帶您探索城市角落故事</p>
        <h4>選擇日期:</h4>
        <input class="date" type="date" name="orderDate" />
        <div>
          <h4>選擇時間:</h4>
          <input type="radio" name="time-period" id="morning" checked />
          <label for="morning">上半天</label>
          <input type="radio" name="time-period" id="afternoon" />
          <label for="afternoon">下半天</label>
        </div>
        <h4>導覽時間:</h4>
        <p class="price">新台幣 <span id="price">2000</span>元</p>

        <button type="submit" id="booking" class="btn-booking">
          開始預定行程
        </button>
      </form>
    </div>
  </div>
  <div class="info-section">
    <p class="attraction-description"></p>
    <h3>景點地址：</h3>
    <p class="address"></p>
    <h3>交通方式：</h3>
    <p class="transport"></p>
  </div>
</div>

{% endblock %} {% block js %}
<script src="/js/attraction.js"></script>
{% endblock %}
