{% extends "base.html" %} {% block title %} 台北一日遊{% endblock %} {% block
css %} <link rel="stylesheet" href="/css/booking.css" />{% endblock %}{% block
main %}
<div class="booking-section-main animated-bg-sm">
  <h5 class="booking-section-title">
    您好，<span class="booking-user-name">_ _ _</span>，待預定的行程如下：
  </h5>
  <h5 class="no-attraction-ordered hidden">目前沒有任何待預定的行程</h5>
  <div class="have-attraction-ordered hidden">
    <div class="booking-section-attraction-info">
      <img class="attraction-info-img animated-bg" />
      <div class="attraction-info-detail">
        <div class="block">
          <h4 class="emphasize-font">台北一日遊：</h4>
          <p class="emphasize-font attraction-info-name">&nbsp;</p>
        </div>
        <div class="block">
          <h4>日期：</h4>
          <p class="attraction-info-date"></p>
        </div>
        <div class="block">
          <h4>時間：</h4>
          <p class="attraction-info-time"></p>
        </div>
        <div class="block">
          <h4>費用：</h4>
          <p>新台幣 <span class="attraction-info-price"></span> 元</p>
        </div>
        <div class="block">
          <h4>地點：</h4>
          <p class="attraction-info-address"></p>
        </div>
      </div>
      <img
        class="attraction-info-delete"
        src="/images/icon_delete.svg"
        alt=""
      />
    </div>
    <form>
      <div class="booking-section-user-contact-info">
        <h5>您的聯絡資訊</h5>
        <div class="block">
          <p>聯絡姓名：</p>
          <input
            class="booking-input-style user-contact-name contact"
            type="ame"
            placeholder="yourEmail@example.com"
            required
          />
        </div>
        <div class="block">
          <p>聯絡信箱：</p>
          <input
            class="booking-input-style user-contact-email contact"
            type="email"
            placeholder="yourEmail@example.com"
            required
          />
        </div>
        <div class="block">
          <p>手機號碼：</p>
          <input
            class="booking-input-style user-contact-phone contact"
            type="tel"
            placeholder="0955-xxx-xxx"
            maxlength="10"
            required
          />
        </div>
        <p class="booking-notice">
          請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。
        </p>
      </div>

      <div class="booking-section-user-credit">
        <h5>信用卡付款資訊</h5>
        <div class="block card-number-group">
          <label for="card-number">卡號號碼：</label>
          <div
            name="card-number"
            class="booking-input-style tpfield contact"
            id="card-number"
          ></div>
        </div>
        <div class="block card-expiration-date-group">
          <label for="card-expiration-date">過期時間：</label>
          <div
            class="booking-input-style tpfield contact"
            id="card-expiration-date"
            name="card-expiration-date"
          ></div>
        </div>
        <div class="block card-ccv-group">
          <label for="card-ccv">驗證密碼：</label>
          <div
            class="booking-input-style tpfield contact"
            id="card-ccv"
            name="card-ccv"
          ></div>
        </div>
      </div>
      <div class="booking-section-confirm-order">
        <h4>
          總價：新台幣<span class="booking-confirm-total"></span>元
          <p class="error-msg"></p>
        </h4>
        <button type="submit" disabled="disabled" class="submit-booking-btn">
          確認訂購並付款
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %} {% block js %}
<script src="https://js.tappaysdk.com/tpdirect/v5.7.0"></script>
<script src="/js/booking.js"></script>

{% endblock %}
