{% extends "base.html" %} {% block title %} 台北一日遊{% endblock %} {% block
css %}<link rel="stylesheet" href="/css/index.css" />{% endblock %}{% block main
%}
<div class="welcome">
  <img class="welcome-img" src="/images/welcome.png" alt="" />

  <div class="welcome-form">
    <h2>輕鬆享受台北一日悠閒</h2>
    <p>探索每個角落，體驗城市的深度旅遊行程</p>
    <div class="search-attractions">
      <input
        class="input-keyword"
        type="text"
        id="keyword"
        placeholder="輸入景點名稱查詢"
      />
      <button
        type="submit"
        id="getKeywordAttractions"
        class="btn-search-attractions"
        onclick="getKeywordAttractions();"
      >
        <img class="icon_search" src="/images/icon_search.png" alt="" />
      </button>
    </div>
  </div>
</div>

<div class="pics-section" id="pics-section"></div>
{% endblock %} {% block js %}
<script src="/js/index.js"></script>
{% endblock %}
